.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  font-size: 1.2rem;
}

footer a {
  text-decoration: none;
  color: var(--text-muted);
}

footer a:hover {
  text-decoration: underline;
  color: var(--text-muted);
}
